@tailwind base;
@tailwind components;
@tailwind utilities;

input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.home {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #C738BD;
  font-size: 80px;
}

.sobre-mi {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #C738BD;
  font-size: 80px;
}

.custom-font {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.productos {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #C738BD;
  font-size: 80px;
}

.carrito {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #C738BD;
  font-size: 80px;
}

.search-container {
  padding-bottom: 30px;
}

button {
  min-width: 120px; /* O el tamaño que prefieras */
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem; /* Espacio entre el icono y el texto */
}