@tailwind base;
@tailwind components;
@tailwind utilities;

input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.home {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #C738BD;
  font-size: 80px;
}

.sobre-mi {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #C738BD;
  font-size: 80px;
}

.custom-font {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.productos {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #C738BD;
  font-size: 80px;
}

.carrito {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #C738BD;
  font-size: 80px;
}

.btn-agregar-producto {
  background-color: #6c5ce7; 
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-agregar-producto:hover {
  background-color: #5a4dbd;
}

.search-container {
  padding-bottom: 20px; /* Ajusta este valor según tus necesidades */
}